/* body {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  margin-left: auto;
  margin-top: auto;
  background-color: black;
}

#cont {
  width: 100%;
  height: 250vh;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
}

#stickyDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0%;
  overflow: hidden;
}

#tierra {
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/RicardoYare/imagenes/refs/heads/main/2.jpg");
  /* background-position: center 0px; */
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  filter: blur(0.5px);

  background-position: center 0%;
  background-color: transparent; /* or remove any black */
}



#kids {
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/RicardoYare/imagenes/refs/heads/main/Sin%20nombre.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  position: absolute;
  object-fit: cover;
  filter: blur(0.9px);
  overflow: hidden;
}

#text {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5dvw;
  transition: all 0.8s;
  filter: blur(0.7px);
}

#textLeft {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#textRight {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
} */
